<!DOCTYPE html>
<div ng-controller="finalQuoteCtrl">
<!-- ng-init='customer=<%- JSON.stringify(customer) %>;quote=<%- JSON.stringify(quote) %>;' no longer needed -->
<!--{{quote.counters[0]}}
<br>
<br>
{{customer}}
<br>
<br>-->
	<div id="page-wrap">
	<a href="/#/customer/{{customer.custCode}}/quote/{{quote.quoteID}}"><button type="button" style="btn">Back</button>

		<textarea id="header">Final Quote</textarea>	
		<div id="surfacingIdentity">

			<textarea id="surfacingInfo">Surfacing Solutions 2010 Ltd.</textarea>
			<br> <br>
			<textarea id="surfacingAddress">34-160 Wilkinson Road &#13;Brampton, Ontario&#13;L6T 4Z4&#13;P: 905-874-1814 F: 905-874-8083&#13;Website: www.surfacingsolutions.ca&#13;Email: psmith45@bell.net</textarea>
			<div id="logo">

              <div id="logoctr">
                <a href="javascript:;" id="change-logo" title="Change logo">Change Logo</a>
                <a href="javascript:;" id="save-logo" title="Save changes">Save</a>
                |
                <a href="javascript:;" id="delete-logo" title="Delete logo">Delete Logo</a>
                <a href="javascript:;" id="cancel-logo" title="Cancel changes">Cancel</a>
              </div>

              <div id="logohelp">
                <input id="imageloc" type="text" size="50" value="" /><br />
                (max width: 540px, max height: 100px)
              </div>
              <img id="image" src="images/ssilogo.png" alt="logo" />
            </div>
		</div>

		
		<div style="clear:both"></div>
		
		<textarea id="customer-title">{{customer.companyName}}</textarea>
		<br> <br> <br> 
		<div id="customer">
            <textarea id="customerInfo">{{customer.lastName}}, {{customer.firstName}}
{{customer.addressLine1}} {{customer.addressLine2}}
{{customer.city}}, {{customer.province}} {{customer.postal}}

Phone: {{customer.homePhone}}</textarea>

            <table id="meta">
                <tr>
                    <td class="meta-head">Quote #</td>
                    <td><textarea>{{quote.quoteID}}</textarea></td>
                </tr>
                <tr>

                    <td class="meta-head">Date</td>
                    <td><textarea id="date">{{quote.createdAt | limitTo: 10}}</textarea></td>
                </tr>
                <tr>
                    <td class="meta-head">P.O. No./ Job No.</td>
                    <td><div class="due">Payment Terms</div></td>
                </tr>
                <tr>
                    <td class="meta-head">63820</td>
                    <td><div class="due">Net 30</div></td>
                </tr>

            </table>
		
		</div>
		
		<table id="items">
		
		  <thead>
		      <th>Item</th>
		      <th>Description</th>
		      <th>Unit Cost</th>
		      <th>Quantity</th>
		      <th>Price</th>
		  </thead>
		    <tbody>
		    <tr ng-repeat="counter in quote.counters | flattenRows">
				<td class="item-name"><span ng-hide="counter.addon">{{counter.material.manufacturer}} - {{counter.material.description}}</span><span class="label label-info" ng-show="counter.addon">Addon</span></td>
			    <td class="description"><textarea>{{counter.description}}</textarea></td>
			    <td><textarea class="cost">{{counter.price | currency:$}}</textarea></td>
			    <td><textarea class="qty">{{counter.quantity}}</textarea></td>
			    <td><span class="price">{{counter.totalPrice | currency: $}}</span></td>
			</tr>
			<tr>
		    	<td colspan="3" class="blank"> </td>
		    	<td colspan="1" class="total-line">Subtotal</td>
		    	<td class="total-value"><div id="subtotal">{{quote.totalPrice | currency:$}}</div></td>
		  	</tr>
		  <tr>
		      <td colspan="3" class="blank"> </td>
		      <td colspan="1" class="total-line">HST (13%)</td>
		      <td class="total-value"><div id="total">{{quote.totalPrice * 0.13 | currency:$}}</div></td>
		  </tr>
		  <tr>
		      <td colspan="3" class="blank"> </td>
		      <td colspan="1" class="total-line">Total</td>
		      <td class="total-value"><div id="total">{{quote.totalPrice * 1.13 | currency:$}}</div></td>
		  </tr>
		
		</table>
		
		<div id="terms">
		  <h5>Terms</h5>
		  <textarea>All product remains the property of Surfacing Solutions 2010 Ltd until paid in full.Interest charged at 2% per month on all past due accounts.We now accept VISA and MasterCard at time of quote only</textarea>
		</div>
	
	</div>
</div>