<!DOCTYPE html>
<div class="jumbotron">
    <div class="container">
        <div class="col-xs-offset-2 col-xs-8">
			<div ng-controller="newCustomerCtrl">
				<form ng-submit="vm.submit(
					firstName,
					lastName,
					companyName,
					email,
					addressLine1,
					addressLine2,
					city,
					postal,
					province,
					homePhone,
					mobilePhone
					)" id="createCustomerForm" name="createCustomerForm">
					New Customer: <br>	
					Company <br> <input type='text'  ng-model="companyName" name='companyName' required value="{{input.companyName}}"><br>
					First name <br> <input type='text' ng-model="firstName" name='firstName' required value="{{input.firstName}}"><br>
					Last name <br> <input type='text' ng-model="lastName" name='lastName'required value="{{input.lastName}}"><br>
					Email Address <br> <input type='email' ng-model="email" name='email' required value="{{input.email}}"><br>
					Address <br> <input type='text' ng-model="addressLine1" name='addressLine1' required value="{{input.addressLine1}}"><br>
					Address Line 2 <br> <input type='text' ng-model="addressLine2" name='addressLine2'><br>
					City <br> <input type='text' ng-model="city" name='city' value="{{input.city}}"><br>					
					Province/State <br> <input type='text' ng-model="province" name='province' required value="{{input.province}}"><br>
					Postal Code <br> <input type='text' ng-model="postal" name='postal' required value="{{input.postal}}"><br>
					Business Phone <br> <input type='text' ng-model="mainPhone" name='mainPhone' required value="{{input.mainPhone}}"><br>
					Cellphone <br> <input type='text' ng-model="mobilePhone" name='mobilePhone' required value="{{input.mobilePhone}}"><br>
					<input type="submit" id="submit" value="Create New Customer">
				</form>
				<alert ng-repeat="alert in vm.alerts" type="{/alert.type/}" close="vm.closeAlert($index)">{/alert.msg/}</alert>
			</div>
        </div>
    </div>
</div>