<!DOCTYPE html>
<div class="jumbotron">
    <div class="container">
        <div class="col-xs-offset-2 col-xs-8">
			<div ng-controller="newCustomerCtrl">
				<form ng-submit="vm.submit(customer, currentUser)" id="createCustomerForm" name="createCustomerForm">
					New Customer: <br>	
					Company <br> <input type='text'  ng-model="customer.companyName" name='companyName' required value="{{input.companyName}}"><br>
					First name <br> <input type='text' ng-model="customer.firstName" name='firstName' required value="{{input.firstName}}"><br>
					Last name <br> <input type='text' ng-model="customer.lastName" name='lastName'required value="{{input.lastName}}"><br>
					Email Address <br> <input type='email' ng-model="customer.email" name='email' required value="{{input.email}}"><br>
					Address <br> <input type='text' ng-model="customer.addressLine1" name='addressLine1' required value="{{input.addressLine1}}"><br>
					Address Line 2 <br> <input type='text' ng-model="customer.addressLine2" name='addressLine2'><br>
					City <br> <input type='text' ng-model="customer.city" name='city' value="{{input.city}}"><br>					
					Province/State <br> <input type='text' ng-model="customer.province" name='province' required value="{{input.province}}"><br>
					Postal Code <br> <input type='text' ng-model="customer.postal" name='postal' required value="{{input.postal}}"><br>
					Business Phone <br> <input type='text' ng-model="customer.mainPhone" name='mainPhone' required value="{{input.mainPhone}}"><br>
					Cellphone <br> <input type='text' ng-model="customer.mobilePhone" name='mobilePhone' required value="{{input.mobilePhone}}"><br>
					<input type="submit" id="submit">
				</form>
				<uib-alert ng-repeat="alert in vm.alerts" type="{/alert.type/}" close="vm.closeAlert($index)">{/alert.msg/}</uib-alert>
			</div>
        </div>
    </div>
</div>